.segment {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  padding-bottom: 2px;
  border-radius: 4px;
  box-shadow: 2px 2px 20px -8px var(--shadow-color);
}

.segment-button {
  width: calc(100% / var(--btns-length));
  padding: 12px 8px;
  border: 0;
  outline: none;
  background-color: transparent;
  opacity: 0.8;
  cursor: pointer;
}

.segment-button:hover,
.segment-button.active {
  opacity: 1;
}

.segment:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(calc(100% / var(--btns-length)) * var(--active-btn-pos));
  width: calc(100% / var(--btns-length));
  height: 2px;
  background-color: var(--main-color);
  transition: left 0.2s ease-in-out;
}
